.media{
	padding:0.8%;
	float:left;
	width:18%;
}
.media img{
	max-height:180px;
	min-width:200px;
	max-width:280px;
}
.media img:hover{
	transform:scale(1.1,1.05);
	border:2px solid white;
}
span.titolo{
	font-size:1.2em;
}
.info{
	margin-top:2%;
	width:100%;
}
.aggiungi{
	margin-left:1em;
	float:right;
	background:#141414;
	border:2px solid white;
	border-radius:40%;
	}
.aggiungi:hover{
	color:#ff1b00;
	border-color:#ff1b00;
}
.listamedia{
	float:left;
	margin-left:1%;
}




@media only screen and (max-width: 600px){

}
/*inizio mediaqueries home*/
@media only screen and (min-width: 600px) and (max-width:900px) {

} 
/*Medium devices (landscape tablets, 768px and up)*/ 
@media only screen and (min-width: 768px && max-width:992px) {
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {	
}
/* Extra large devices (large laptops and desktops, 1200px and up)*/ 
@media only screen and (min-width: 1200px) {
}
/*fine mediaqueries Home*/