ul.listamedia{
	display:flex;
list-style-type:none;
	padding:0;
}
li.media{
	padding-left:0.8%;
	padding-right:0.8%;
	width:19%;
}
li.media img{
	height:180px;
	width:100%;
}
li.media img:hover{
	transform:scale(1.1,1.05);
	border:1px solid white;
	overflow:none;
}
.info{
	margin:auto;
	margin-top:2%;
}
span.titolo{
	text-align:center;
	min-width:100%;
	margin:auto;
	font-size:1.2em;
}
.buttons{
	min-width:100%;
}
.aggiungi{
	font-weight:bold;
	background:#141414;
	border:none;
	font-size:1.2em;
	border-radius:40%;
	}
.aggiungi:hover{
	color:#ff1b00;
}
@import "lesshat";

// Method 1) Pure CSS
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.scroll{
	z-index: 0;
    position: absolute;
    background: grey;
    opacity: 0.4;
	top:25%;
	border:none;
    color: White;
    width: 35px;
    height: 80px;
    font-size: 1.3em;
    font-weight: bold;
}
.left{
left:0%;
display:none;
}
.right{
	right:0%;
	display:none;
}
.tagmedias{
position:relative;
}


@media only screen and (max-width: 600px){
.media{
	display:none;
	transition: display 2s;
	-webkit-transition:display 2s;
	}
	.info{}
.currentItem{
	display:inline-block;
		transition: display 2s;
	-webkit-transition: display 2s;
}
ul.listamedia{
	min-width:250px;
	margin:auto;
	width:70%;
	overflow-x:auto;
	-ms-overflow-style: none;
}
li.media img:hover{
transform:none;
border:none;
}
ul.listamedia::-webkit-scrollbar 
{
display:none;}

li.media{
min-width:100%;
}
li.media img{
	max-width:100%;
}
.left,.right{
	display:block;
}
}
/*inizio mediaqueries home*/
@media only screen and (min-width: 601px) and (max-width:900px) {
ul.listamedia{
	max-width:100%;
	overflow:hidden;
}
li.media{
	min-width:200px;
}
} 
/*Medium devices (landscape tablets, 768px and up)*/ 
@media only screen and (min-width: 768px && max-width:992px) {
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {	
}
/* Extra large devices (large laptops and desktops, 1200px and up)*/ 
@media only screen and (min-width: 1200px) {
}
/*fine mediaqueries Home*