/*css login inizio*/

body{
	height:100%;
	width:100%;
	margin:auto;
	background: url("background/sfondoLogin.jpg") no-repeat center center fixed;
	 -moz-background-size: cover;
	 -webkit-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	
}
#main img{
	opacity:0.6;
}
/*div di logo*/
#logologin{
	text-align:center;
}
#logologin a,#logologin,#loginlogo{
	background:transparent;
}
/*Immagine(logo) */
#loginlogo{
	max-width:480px;
	margin:0.5% auto;
}

/*div che contiene tutto il form */
#form_accedi {
	min-width:300px;
	width:33%;
	color:#FF1B00;
	margin:2% auto;
	margin-top:2%;

}

#form_accedi p{
	font-size:1.5em;
	color:#FF1B00;
}

/*h2 di Accedi*/
h1{
	width:60%;
	margin:auto auto;
	font-size:1.5em;
	padding:0.5em;
}

/* div del text , password  e bottone  */
.container {
	text-align:center;
  padding: 1em;

}

/* stile del text e password  e bottone */
input[type=text], input[type=password] {
  background-color: #141414;
	color:white;
  width: 70%;
	border:1px solid white;
	font-size:1em;
  padding: 1em 1em;
  margin:0.5em 0;
  display: inline-block;
  box-sizing: border-box;
}

button {
  background-color: #FF1B00;
  color: white;
	width: 70%;
	font-weight:bold;
	padding: 1em 1.5em;
	margin:0.5em 0;
	margin-top:2.3em;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

/*div per il Sei nuovo? registrati */
#registra {
	font-size:0.7em;
	padding:0.5em;
}
#registra a {

	color:white;
}

/*css login fine*/
/*footer*/
/*footer*/


@media only screen and (max-width:730px) {
  /* For mobile phones: */
	#loginlogo{
		height:5em;
		width:80%;
		margin:0;

	}
#form_accedi {
		margin-top: 5%;
  }

	.linksfooter{
		width:20%;
	}

	input[type=text], input[type=password] {
	  width: 95%;
	 	}

		button {
			width: 95%;
		}
