/*css login inizio*/

body{
	height:100%;
	width:100%;
	margin:auto;
}
#main img{
	opacity:0.6;
}
/*div di logo*/
#logologin{
	text-align:center;
}

/*Immagine(logo) */
#loginlogo{
	max-width:25em;
	margin:0.5% auto;
	padding-top:1em;
}

/*div che contiene tutto il form */
#form_accedi {
	width:33%;
	margin:2% auto;
	margin-top:2%;
}

p{
 font-size:1.5em;
}
.fieldTitle{
font-size:1.3em;
}
.errore{
font-size:0.8em;
color:orange;
padding-bottom: 0em;
}
.Sign
{
	color:#FF1B00;

}
/*h2 di Login*/
h1{
	width:60%;
	text-align:center;
	margin:auto auto;
	font-size:1.5em;

}

/* div del text , password  e bottone  */
.container {
	text-align:center;
  padding: 1em;

}

/* stile del text e password  e bottone */
#form_accedi  input[type=text], #form_accedi input[type=password] {
  background-color: #141414;
	color:white;
  width: 80%;
	border:none;
	border-bottom:1px solid white;
	font-size:1em;
  padding: 1em 1em;
  margin:0.5em 0;
  display: inline-block;
  box-sizing: border-box;
}


#form_accedi button,#form_InsertMovie button {
  background-color: #FF1B00;
  color: white;
	width: 70%;
	font-weight:bold;
	padding: 1em 1.5em;
	margin:0.5em 0;
	margin-top:2.3em;
  border: none;
  cursor: pointer;
}

#form_accedi button:hover {
  opacity: 0.8;
}

/*div per il Sei nuovo? registrati */
#registra {
	font-size:0.7em;
	padding-top: 0em;
	padding-left:17%;
}
#registra a {

	color:white;
}

/*css login fine*/
/*footer*/
/*footer*/


@media only screen and (max-width:730px) {
  /* For mobile phones: */
	#loginlogo{
		height:5em;
		width:80%;
		margin:0;

	}
	#form_accedi {
		width: 90%;
		}
	#form_accedi input[type=text],#form_accedi input[type=password] {
	  width: 95%;
	 	}

		button {
			width: 95%;
		}
		#registra {
			font-size:0.7em;

			padding-left:9%;
		}
